@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Rubik:wght@300;400;500&display=swap');


:root{
--Blue: hsl(246, 80%, 60%);

--Light-red-work: hsl(15, 100%, 70%);
--Soft-blue-play: hsl(195, 74%, 62%);
--Light-red-study-: hsl(348, 100%, 68%);
--Lime-green-exercise: hsl(145, 58%, 55%);
--Violet-social-: hsl(264, 64%, 52%);
--Soft-orange-self-care: hsl(43, 84%, 65%);

--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

*{
    margin:0;
    font:inherit;
}

body{
    background-color: var(--Very-dark-blue);
    color:white;
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    display:grid;
    padding: 1.5rem;
}

.container{
    display:grid;
    gap: 1rem;
    max-width: 50rem;
}

.card{
    background-color: var(--Dark-blue);
    overflow: hidden;
    border-radius: .5rem;
    display: grid;
}

.personal-info{
    background-color: var(--Blue);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

.personal-info h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

.personal-info p {
    color: var(--Pale-Blue)
}

.personal-info img{
    width: 4rem;
    border: 3px solid white;
    border-radius: 50%;
}

.options {
    background-color: var(--Dark-blue);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.grid-row-span{
    grid-row: span 2;
}

button{
    border: none;
    background-color: inherit;
    color: var(--Pale-Blue);
    text-align: left;
    font: inherit;
    cursor: pointer;
    transition: .6s;
    outline: none;
}

button:focus{
    color:inherit;
}

button:hover{
    color:inherit;
}

.tracker {
    border-radius: 0.5rem; 
    height:40%;
    display:grid;
}

.tracker-image {
    border-radius: 0.5rem;
    height: 3rem;
    display: grid;
    justify-content: flex-end;
    z-index: 1;
    position: relative;
    
}
.tracker-image img{
    width: 4rem;
    z-index: 2;
    position: relative;
    transform: translate(-1rem);
    
}

.tracker-content {
    background-color: var(--Dark-blue);
    border-radius: 0.5rem;
    padding: 1rem;
    display: grid;
    z-index: 3;
    position: relative;
    gap: 1rem;
}

.tracker[data-spacing="work"]{
    background-color: var(--Light-red-work);
}
.tracker[data-spacing="play"]{
    background-color: var(--Soft-blue-play);
}
.tracker[data-spacing="study"]{
    background-color: var(--Light-red-study-);
}
.tracker[data-spacing="exercise"]{
    background-color: var(--Lime-green-exercise);
}
.tracker[data-spacing="social"]{
    background-color: var(--Violet-social-);
}
.tracker[data-spacing="selfCare"]{
    background-color: var(--Soft-orange-self-care);
}



.header{
    display:flex;
    justify-content: space-between;
}

.header span{
    cursor: pointer;
}

.time-track{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-track h1{
    font-weight: 300;
    font-size: 3rem;
}
.time-track p {
    font-size: 0.8rem;
    color: var(--Pale-Blue)
}


@media (min-width: 600px) {
    body{
        place-items: center;
    }

    .personal-info {
        display:grid;
        gap: 0;
    }

    .personal-info h1 {
        font-size: 2rem;
        font-weight: 300;
    }

    .container{
        grid-template-columns: repeat(4, 1fr);
    }

    .options{
        display:grid;
        justify-content: left;
    }

    .time-track{
        display:inherit;
        gap: 0.3rem;
    }
}